extends layout

block content
    h2 Register Form
    form(action="/register" method="POST")
        div
            label(for="email") Email
            input(type="email" name="email" id="email" value=(body && body.email))
        div
            label(for="name") Name
            input(type="text" name="name" id="name" value=(body && body.name))
        div
            label(for="password") Password
            input(type="password" name="password" id="password")
        div
            label(for="password-confirm") Confirm Password
            input(type="password" name="password-confirm" id="password-confirm")
        button REGISTER