extends layout

block content
    h2 Reset Password Form
    form(action=`/account/reset/${token}`, method="post")
        div
            label(for="password") Password
            input(type="password", name="password" id="password")
        div
            label(for="password-confirm") Confirm
            input(type="password", name="password-confirm" id="password-confirm")
        button Reset